/* general-rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 3px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
}

/* /general-rules */

/* main container section */
.main-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 1px 2px 15px black;
    border-radius: 0 0 35px 35px;
    text-align: center;
    padding: 20px;
}
.main-container ul{
    width: 80%;
    list-style: none;
}
.grey-cont,
.green-cont{
    margin: 5px;
    width: calc(50% -10px);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
}
.grey-cont{
    background-color: grey;
    
}
.green-cont{
    background-color: green;
}

/* /main container section */
